* {
  transform-style: flat !important;
  transform: translate3d(0,0,0) !important;
  perspective: none !important;
}
body div.consent {
  top: 10vh;
}
div.fold {
  transform: translateX(-50vw) !important;
}
div.parallax-child-1, div.parallax-child-2 {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
div.left, div.right {
  margin-left: 0 !important;
}
div.left {
  transform: translateX(6vw) !important;
}
div.right {
  transform: translateX(48vw) !important;
}
#prop {
  top: 0 !important;
}
div.window.placeholder.vimeo {
  padding-bottom: calc(56.25% / 4);
}

@media only screen and (max-width: 1000px) {
  div.right {
    transform: translateX(32vw) !important;
  }
  div.left {
    transform: translateX(3vw) !important;
  }
  #container div#static1 {
    transform: translateX(-12vw) !important;
  }
}
@media only screen and (max-width: 600px) {
  div.right {
    transform: translateX(18vw) !important;
  }
  div#static1 {
    margin: -80vh 0 80vh -10vw;
  }
}
