* {
  transform-style: flat;
  perspective: none;
}
body div:not(.fold).consent {
  bottom: 80px;
}
body div.fold.consent {
  padding-bottom: 15ex;
}
div.fold {
  transform: translateX(-50vw);
  left: 0;
}
div.fold:hover {
  transform: translateX(calc(-50vw + 0.2em)) translateY(-0.2em);
}
div.fold.first {
  margin-top: 10vh;
}
div.parallax-child-1, div.parallax-child-2 {
  margin-left: 0;
  margin-bottom: -10px !important;
}
div.left, div.right {
  margin-left: 0 !important;
}
div.left {
  transform: translateX(1em) !important;
}
div.right {
  transform: translateX(48vw) !important;
}
#intro {
    margin-top: 64vh;
}
#prop {
  top: -10vh;
  transform: none;
}
#container {
  min-width: none;
}

@media only screen and (max-width: 1000px) {
  div.right {
    transform: translateX(32vw) !important;
  }
  div.left {
    transform: translateX(3vw) !important;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  body div:not(.fold).consent {
    font-size: 70%;
    bottom: 100px;
  }
}
@media only screen and (max-width: 600px) {
  div.right {
    transform: translateX(18vw) !important;
  }
}
@media (max-width: 600px) and (orientation: portrait) {
  #static1, #backToTop {
    top: 15px;
  }
  body div:not(.fold).consent {
    bottom: 125px;
  }
}
