* {
  transform-style: flat !important;
  transform: translate3d(0,0,0) !important;
  perspective: none !important;
}
#co-curation-fold, body div:not(.fold).consent {
  transform: translateX(-50%) !important;
}
body div:not(.fold).consent {
  left: 50%;
  top: 17vh;
  max-height: 70vh;
}
body div.fold.consent {
  padding-bottom: 15ex;
}
div.fold {
  transform: translateX(-50vw) !important;
  left: 0;
}
div.parallax-child-1, div.parallax-child-2 {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
div.left, div.right {
  margin-left: 0 !important;
}
div.right {
  transform: translateX(48vw) !important;
}
#prop {
  top: 0 !important;
}
#container {
  min-width: none;
}

@media only screen and (max-width: 1000px) {
  div.right {
    transform: translateX(32vw) !important;
  }
  div.left {
    transform: translateX(3vw) !important;
  }
}
@media only screen and (max-width: 600px) {
  div.right {
    transform: translateX(18vw) !important;
  }
}
