/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Inconsolata/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WRL2kXWdycuJDETf.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Inconsolata/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WRP2kXWdycuJDETf.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Inconsolata/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WR32kXWdycuJDA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Glacial Indifference';
  font-style: normal;
  src: url(../fonts/GlacialIndifference/GlacialIndifference-Regular.woff) format('woff');
  src: url(../fonts/GlacialIndifference/GlacialIndifference-Regular.woff2) format('woff2');
  src: url(../fonts/GlacialIndifference/GlacialIndifference-Regular.eot) format('eot');
}

* {
  transform-style: preserve-3d;
}

html, body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  width: 200vw;
  max-width: 200vw;
  overflow-x: hidden;
  font-family: "Inconsolata";
}
a {
  color: black;
}
body {
  background-color: black;
}
#prop {
  transform-origin: top;
  transform: translate3d(0,0,-3px) scale(4);
  position: absolute;
  overflow-y: hidden;
  top: -300vh;
  width: 100%;
  min-height: 100%;
  height: 100%;
  text-shadow: 0.3vw 0.3vw #cd0707;
  font-size: 12.6vw;
  z-index: -1;
  color: white;
  text-transform: uppercase;
  font-family: 'Glacial Indifference';
}
div.prop-text {
  margin-top: 6ex;
  width: 51%;
}
div.prop-text:first-child {
  margin-top: 0;
}
.emph {
  text-shadow: -0.3vw 0.3vw #006d95;
  text-decoration: underline;
}
article {
  margin-top: 34vh;
}
section div.window {
  max-width: 50vw;
  padding: 2ex;
  margin-bottom: 33vh;
}
section div.window > p {
  padding: 1ex;
}
section div.window > img,
section div.window > p,
section div.window > iframe,
section div.window h2,
section div.window:not(#dataConsent) div:not(.sliders),
section div#dataConsent.window
{
  box-shadow: 0.2em 0.2em darkgrey;
  transition: all 1s;
  border: solid 0.1em black;
  background-color: white
}
section div.window.right > img,
section div.window.right > p,
section div.window.right > iframe,
section div.window.right h2,
section div.window.right div:not(.sliders)
{
  box-shadow: -0.2em 0.2em darkgrey;
}
section div.window:hover > img,
section div.window:hover > p,
section div.window:hover > iframe,
section div.window:hover h2,
section div.window:hover:not(#dataConsent) div:not(.sliders),
section div#dataConsent.window:hover
{
  box-shadow: 0.4em 0.4em lightgrey;
  transform: translateX(-0.2em);
  /*border: solid 1px black;*/
}
section div.window.right:hover > img,
section div.window.right:hover > p,
section div.window.right:hover > iframe,
section div.window.right:hover h2,
section div.window.right:hover div:not(.sliders)
{
  box-shadow: -0.4em 0.4em lightgrey;
  transform: translateX(0.2em);
}

article section div.window img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
article section div h2, article section h3 {
  margin-top: 0;
  display: inline;
  padding: 0.5em;
}

article section div h2 div + *,
article section div div + *,
article section div iframe + *
{
  margin-top: 2ex;
}

section {
  margin: 0.5em;
}
section#statics div {
  padding: 0.5em;
}
div.window.right {
margin-left: 60vh;
}
div.left.parallax-child-2 {
  margin-left: -34vw;
}
div.left.parallax-child-1 {
  margin-left: -150vw;
}
div.right.parallax-child-1 {
  margin-left: -23vw;
  margin-bottom: 80vh;
}
div.right.parallax-child-2 {
  margin-left: 23vw;
}
/*
div.left.parallax-child-1, div.right.parallax-child-2, article section div.window img {
  box-shadow: -0.2em 0.2em black;
}
*/
.no-margin {
  margin: 0;
}
.text-center {
  text-align: center;
}
/***********************************/
#container, .parallax-container {
}
#container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  perspective-origin: bottom;
  -webkit-overflow-scrolling: touch;
  transform-style: preserve-3d;
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
.parallax-child-1 .parallax-child-2 {
  transform-style: preserve-3d;
}
.parallax-child-1 {
  transform: translate3d(0,0,-2px) scale(3);
}
.parallax-child-2 {
  transform: translate3d(0,0,-0.5px) scale(1.5);
}
/***********************************/
section.flat {
  transform-style: flat;
}
div#dataConsent {
  position: fixed;
  top: 50vh;
  max-width: 96vw;
  z-index: 10;
}
div.sliders .switch, div.sliders span.slider-desc {
  vertical-align: middle;
}
div.sliders span.slider-desc {
  display: inline-block;
}
div.sliders .switch {
  margin: 2px;
  margin-left: 0.5em;
}
b {
  font-size: larger;
  font-family: 'Glacial Indifference';
}
div#dataConsent div {
  float: right;
  text-align: right;
  width: 49%
}
div#dataConsent div:first-child {
  float: left;
  text-align: left;
  border-right: solid 1px;
}
div.sliders p {
  margin: 1em;
}

div.window.placeholder.soundcloud {
  height: 200px;
  background: #f5f5f5;
}

div.window.placeholder.vimeo {
  height: 1px;
  padding-bottom: calc(56.25% / 4);
  background: #EEF1F2;
}

div.window.placeholder {
  border: solid 1px black;
  overflow-y: hidden;
  width: 100%;
  cursor: help;
}
div.window.placeholder span.placeholder-fill {
  word-break: break-all;
  padding: 0;
  font-size: 2em;
}
div.window.placeholder.soundcloud span.placeholder-fill {
  word-break: break-all;
  padding: 0;
  font-size: 2em;
  color: rgb(204, 68, 0);
}
div.window.placeholder.vimeo span.placeholder-fill {
  word-break: break-all;
  padding: 0;
  font-size: 2em;
  color: #1AB7EA;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: solid 1px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider.soundcloud {
  background-color: rgb(204, 68, 0);
}
input:checked + .slider.vimeo {
  background-color: #1AB7EA;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: white;
}
