/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Inconsolata/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WRL2kXWdycuJDETf.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Inconsolata/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WRP2kXWdycuJDETf.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/Inconsolata/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp9s8WR32kXWdycuJDA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Glacial Indifference';
  font-style: normal;
  src: url(../fonts/GlacialIndifference/GlacialIndifference-Regular.eot) format('eot');
  src: url(../fonts/GlacialIndifference/GlacialIndifference-Regular.woff) format('woff');
}

* {
  transform-style: preserve-3d;
}

html, body {
  min-width: 300px;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Inconsolata";
}
a {
  color: black;
}
body {
  background-color: black;
}

#prop {
  transform-origin: top;
  transform: translate3d(0,0,-3px) scale(4);
  position: absolute;
  overflow-y: hidden;
  top: -300vh;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 14.5vw;
  z-index: -1;
  color: white;
  text-transform: uppercase;
  font-family: 'Glacial Indifference';
}
div.prop-text {
  margin-top: 6ex;
  width: 51%;
}
div.prop-text:first-child {
  margin-top: 30vh;
}
.prop-text, .prop-text .emph {
  transition: 1s all;
}
.prop-text {
  text-shadow: 0.3vw 0.3vw #cd0707;
}
.prop-text:hover {
  text-shadow: -0.3vw 0.3vw #006d95;
}
.emph {
  text-shadow: -0.3vw 0.3vw #006d95;
  text-decoration: underline;
}
.prop-text:hover .emph {
  text-shadow: 0.3vw 0.3vw #cd0707;
}
#backToTop {
  width: max-content;
  right: 1ex;
  position: fixed;
  z-index: 10;
  top: 1ex;
}
#static1 {
  /*margin: -60vh 0 60vh -10vw;*/
  position: fixed;
  top: 2ex;
  left: 0.4ex;
  margin: 0;
  z-index: 90
}
#intro {
  margin-top: 80vh;
}
div.window {
  max-width: 50vw;
}
#co-curation-fold {
  top: 10ex;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
}
body div:not(.fold).consent {
  left: 50%;
  transform: translateX(-50%);
}
body div:hover:not(.fold).consent {
  transform: translateX(-50%);
}
div.window p, div.fold p {
  padding: 1ex;
}
div.fold p {
  margin: 0
}
 div.window > img,
 div.window > p,
 div.window > iframe,
 div.window h2,
 div.window:not(.consent) div:not(.sliders),
 div.consent.window
{
  box-shadow: 0.2em 0.2em darkgrey;
  transition: all 1s;
  border: solid 0.1em black;
  background-color: white
}
 div.window.right > img,
 div.window.right > p,
 div.window.right > iframe,
 div.window.right h2,
 div.window.right:not(.consent) div:not(.sliders)
{
  box-shadow: -0.2em 0.2em darkgrey;
}
 div.window.right.parallax-child-2 > img,
 div.window.right.parallax-child-2 > p,
 div.window.right.parallax-child-2 > iframe,
 div.window.right.parallax-child-2 h2,
 div.window.right.parallax-child-2:not(.consent) div:not(.sliders)
{
  box-shadow: -0.2em -0.2em darkgrey;
}
 div.window:hover > img,
 div.window:hover > p,
 div.window:hover > iframe,
 div.window:hover h2,
 div.window:hover:not(.consent) div:not(.sliders),
 div.consent.window:hover
{
  box-shadow: -0.4em 0.4em lightgrey;
  transform: translateX(-0.2em);
  /*border: solid 1px black;*/
}
#static1, #backToTop {
  transition: all 1s;
}
#static1:hover, #backToTop:hover {
  transform: translateX(-0.2em);
}

 div.window.right:hover > img,
 div.window.right:hover > p,
 div.window.right:hover > iframe,
 div.window.right:hover h2,
 div.window.right:hover:not(.consent) div:not(.sliders)
{
  box-shadow: 0.4em 0.4em lightgrey;
  transform: translateX(0.2em);
}
 div.window.right.parallax-child-2:hover > img,
 div.window.right.parallax-child-2:hover > p,
 div.window.right.parallax-child-2:hover > iframe,
 div.window.right.parallax-child-2:hover h2,
 div.window.right.parallax-child-2:hover div:not(.sliders)
{
  box-shadow: 0.4em -0.4em lightgrey;
  transform: translateX(0.2em) translateY(0.2em);
}

div.window img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
div h2, h3 {
  margin-top: 0;
  display: inline;
  padding: 0.5em;
}
div.window.right {
margin-left: 42vw;
}
div.left.parallax-child-2 {
  margin-left: -32vw;
}
div.left.parallax-child-1 {
  margin-left: -150vw;
}
div.right.parallax-child-1 {
  margin-left: -23vw;
  margin-bottom: 80vh;
}
div.right.parallax-child-2 {
  margin-left: 23vw;
}
/*
div.left.parallax-child-1, div.right.parallax-child-2, article section div.window img {
  box-shadow: -0.2em 0.2em black;
}
*/
.no-margin {
  margin: 0;
}
.text-center {
  text-align: center;
}
/***********************************/
#container, .parallax-container {
}
#container {
  min-width: 600px;
  width: 200vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  perspective-origin: bottom;
  -webkit-overflow-scrolling: touch;
  transform-style: preserve-3d;
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
.parallax-child-1 .parallax-child-2 {
  transform-style: preserve-3d;
}
.parallax-child-1 {
  transform: translate3d(0,0,-2px) scale(3);
}
.parallax-child-2 {
  transform: translate3d(0,0,-0.5px) scale(1.5);
}
/***********************************/
section.flat {
  transform-style: flat;
}
body div:not(.fold).consent {
  position: fixed;
  top: 25vh;
  z-index: 10;
  max-height: 70vh;
  overflow-y: auto;
}
body div#dataConsent {
  z-index: 11;
}

div.fold div.consent {
  position: initial;
  display: inline-table;
  margin-top: 2ex;
}

div.consent, div.fold {
  width: 80ch;
  max-width: 90vw;
}

div.fold h2 {
  cursor: context-menu;
  margin: 0;
  display: block;
  text-decoration-line: underline;
}
div.fold {
  text-align: center;
  background: white;
  padding: 1em;
  margin: 1em;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  left: -25%;
  border: solid 1px;
  position: relative;
}
div.fold.first {
  margin-top: 100vh;
}
div.fold p {
  text-align: left;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}
div:not(#dataConsent).fold p:first-child {
  margin-top: revert;
}
div.fold div.fold-start {
  margin-top: 2ex;
}

div.consent, div.consent p {
  transform-style: flat;
}
.consentInfo, .consentSliders {
  display: table;
}
.consentInfo p, p.trust-btn {
  vertical-align: middle;
}

p.trust-btn button {
  width: 6em;
  margin: 1em;
  box-shadow: -0.1em 0.1em #cd0707;
  background-color: inherit;
  border: solid 1px;
  color: #cd0707;
  transition: 1s all;
}
p.trust-btn button.btn-yes {
  color: #006d95;
  box-shadow: 0.1em 0.1em #006d95;
}
p.trust-btn button:hover {
  box-shadow: 0.2em 0.2em;
}
p.trust-btn button.btn-yes:hover {
  box-shadow: -0.2em 0.2em;
}
div.sliders .switch, div.sliders span.slider-desc {
  vertical-align: middle;
}
div.sliders span.slider-desc {
  display: inline-block;
}
div.sliders .switch {
  margin: 2px;
  margin-right: 0.5em;
}
.sliders p {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong {
  font-family: 'Glacial Indifference';
}
p:first-child {
  margin-top: 0
}
p:last-child {
  margin-bottom: 0
}

div.placeholder .sliders {
  font-size: small;
  background: inherit;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 4%;
  border: solid 1px;
}

div.window.placeholder.soundcloud {
  height: 200px;
  background: #f5f5f5;
  box-shadow: 0.2em 0.2em rgb(204, 68, 0);
}
div.window.placeholder.soundcloud.right {
  box-shadow: -0.2em 0.2em rgb(204, 68, 0);
}

div.window.placeholder.vimeo {
  height: calc(50vw * 0.5625);
  background: #EEF1F2;
  box-shadow: 0.2em 0.2em #1AB7EA;
}
div.window.placeholder.vimeo.right {
  box-shadow: -0.2em 0.2em #1AB7EA;
}

div.window.placeholder {
  border: solid 1px black;
  overflow-y: hidden;
  width: 100%;
  cursor: help;
  overflow: hidden;
}
div.window.placeholder p {
  margin: 0;
}
div.window.placeholder span.placeholder-fill {
  word-break: break-all;
  padding: 0;
  font-size: 2em;
  line-height: calc(1ex * (4 / 3));
  position: absolute;
  top: 0;
  z-index: -1;
  width: 110%;
}
div.window.placeholder.soundcloud span.placeholder-fill {
  word-break: break-all;
  padding: 0;
  font-size: 2em;
  color: rgb(204, 68, 0);
}
div.window.placeholder.vimeo span.placeholder-fill {
  word-break: break-all;
  padding: 0;
  font-size: 2em;
  color: #1AB7EA;
}

button {
  border-style: initial;
  background: black;
  color: white;
  padding: 1ex;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
}
button p, span p {
  padding: 0 !important;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: solid 1px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  left: 0.1em;
  bottom: 0.075em;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: black;
}
input:checked + .slider.soundcloud {
  background-color: rgb(204, 68, 0);
}
input:checked + .slider.vimeo {
  background-color: #1AB7EA;
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
  background: white;
}

/*************************************/
@media only screen and (min-width: 1000px) {
  html, body {
    font-size: 110%;
  }
}
@media only screen and (min-width: 1500px) {
  html, body {
    font-size: 120%;
  }
}
@media only screen and (min-width: 1900px) {
  html, body {
    font-size: 130%;
  }
  div.placeholder .sliders {
    font-size: 1vw;
  }
}
@media only screen and (min-width: 2400px) {
  html, body {
    font-size: 1.333vw;
  }
}
@media only screen and (max-width: 1000px) {
  html, body {
    font-size: 100%;
  }
  div:not(.consent).window {
    max-width: 66vw;
  }
  div.window.placeholder.vimeo {
    height: calc(66vw * 0.5625);
  }
  div.window.right {
    margin-left: 33vw;
  }
  div.right.parallax-child-1 {
    margin-left: -36vw;
  }
}
@media only screen and (max-width: 600px) {
  /*
  #static1 {
    margin: -100vh 0 100vh -10vw;
  }
  */
  div:not(.consent).window {
    max-width: 80vw;
  }
  div.window.placeholder.vimeo {
    height: calc(80vw * 0.5625);
  }
  div.window.right {
    margin-left: 18vw;
  }
  div.right.parallax-child-1 {
    margin-left: -66vw;
  }
  div.left.parallax-child-2 {
    margin-left: -28vw;
  }
  body div:not(.fold).consent {
    top: 12vh;
    max-height: 80vh;
  }
  /*
  #static1 h2 {
    font-size: medium;
  }
  */
  div.placeholder .sliders {
    font-size: 66%;
  }
}
